<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    
    <!-- URL Rewriting for SPA routing -->
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchList" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/v2/index.html" />
        </rule>
        
        <!-- Redirect HTTP to HTTPS -->
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <!-- Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- MIME Types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net https://*.googleapis.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: https:; font-src 'self' https://fonts.gstatic.com data:; connect-src 'self' https://api.akodefy.com https://buildhomemartsquares.com;" />
      </customHeaders>
    </httpProtocol>

    <!-- Caching Policy -->
    <caching>
      <profiles>
        <add extension=".html" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".css" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".js" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".png" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".jpg" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".gif" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".woff" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".woff2" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".svg" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
      </profiles>
    </caching>

    <!-- Request Filtering - Block sensitive files -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".lock" allowed="false" />
        </fileExtensions>
        <hiddenSegments>
          <add segment=".git" />
          <add segment=".github" />
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
